.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo{
  svg{
    width: 65px;
    height: 65px;
  }
}

.title{
  text-transform: uppercase;
  color: #4793FF;
  font-weight: bold;
  font-size: 25px;
}

.changeTheme{
  width: 35px;
  aspect-ratio: 1;
  cursor: pointer;
}