GeCorona/reset.scss
GeCorona/mixin.scss
GeCorona/style.css.map
GeCorona/media.scss
GoCorona/style.css.map
GoCorona/reset.scss
GoCorona/mixin.scss
GoCorona/media.scss
/test/
/portfolio-08-22/
test.html
test.scss
.gitignore
test.css
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

