$primary-color: #4793ff;
$lite-color: #fff;
$gray-color: #939cb0;
$lite-background: #fff;
$dark-background: #4f4f4f;
$box-shadow: 2px 5px 25px -3px rgba(100, 100, 100, 0.25);
$border-radius: 20px;
$card-background-dark: #2e3035;
$card-background-lite: rgba(71, 147, 255, 0.8);
