$color-dark-grey: #221f1f;
$color-white: rgb(212, 201, 201);
$color-black: #121212;
$color-yellow: #cccc46;
$color-blue: #6a83fb;
$color-violet: #b5b6ff;
$color-red: #f75d83;

$border-radius20: 20px;
$border-radius-small: 10px;
$fz-header: 26px;
$fz-subheader: 20px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$max-width-container: 1200px;

$transition: 0.4s;

$text-shadow-yellow: 0 0 2px $color-white, 0 0 40px $color-yellow;
$text-shadow-blue: 0 0 2px $color-white, 0 0 40px $color-blue;

$box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, 0.02),
  0 6px 30px 5px rgba(255, 255, 255, 0.04),
  0 8px 10px -5px rgba(255, 255, 255, 0.1);

$box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.05),
  0 6px 30px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

/* ================ themes ================ */

:root {
  --header-color: #cccc46;

  --header-color-light: #dfe2df;
  --header-color-dark: #ca6c6f;
  --header-color-neutral: #cccc46;

  --light-bgimage: linear-gradient(
    90deg,
    rgba(102, 103, 195, 1) 0%,
    rgba(92, 104, 119, 1) 50%
  );
  --dark-bgimage: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(17, 8, 57) 50%
  );
  --neutral-bgimage: url(../static/bg.jpg);
  --default-bgimage: url(../static/bg.jpg);
}
