@import "../../../../styles/variables.scss";

.this__day_info {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  height: 300px;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .indicator,
  .indicator__name {
    margin-bottom: 0;
    color: $base-color;
  }

  .indicator__name,
  .indicator__value {
    font-size: 14px;
  }

  .indicator__value {
    color: var(#{--text-color-default});
  }

  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 50%;
  }
}

.cloudImg {
  position: absolute;
  width: 460px;
  height: 202px;
  top: 0;
  right: 0;
  content: "";
}
