@import "../UI-variables.scss";

.button {
  min-width: 100px;
  padding: 10px 20px;
  font-size: $fz-small;
  border-radius: 10px;
  font-weight: $fw-bold;
  background: transparent;
  outline: none;
  transition: $transition;
  &.dark {
    color: $color-white;
    border: 1px solid $color-white;
    &:hover {
      background: $color-white;
      color: $color-dark-grey;
    }
  }
  &.light {
    color: $color-dark-grey;
    border: 1px solid $color-dark-grey;
    &:hover {
      background: $color-dark-grey;
      color: $color-white;
    }
  }
  &:disabled,
  &:disabled:hover {
    background: transparent;
    color: $color-light-gray;
    border-color: $color-light-gray;
  }
}
