// ================ NULL ================ 

@import "reset.scss";

/* ================ HEADER ================ */

.header {
   padding: 33px 60px 33px 0px;
   display: flex;
   justify-content: right;
   align-items: center;

   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 33px;
   }

   &__item {
      font-size: 20px;
      font-weight: 500;
      color: $colorBlack;
   }

   &__link {
      &:hover {
         color: $colorPrimary;
      }

      &-active {
         color: $colorPrimary;
      }
   }
}

/* ================ WORKS ================ */

.works {
   padding: 15px 0px 83px 0px;

   &__wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   &__title {
      font-size: clamp(32px, 1.712rem + 1.44vw, 44px);
      font-weight: 700;
      line-height: 136%;
      margin-bottom: 55px;
   }
}

.works-header {

   &__title {
      margin-bottom: 22px;
   }
}

.works-item {
   display: flex;
   align-items: flex-start;
   gap: 18px;
   padding-bottom: 15px;
   position: relative;

   &:after {
      position: absolute;
      bottom: 0;
      content: "";
      content: "";
      width: 100%;
      height: 1px;
      background: $colorDark;
   }

   &__image {
      border-radius: 6px;
      flex: 0 0 250px;
      position: relative;
      min-height: 180px;
   }

   &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 17px;
   }

   &__title {
      font-size: 30px;
      font-weight: 700;
      color: $colorDark;

      &:hover {
         color: $colorPrimary;
      }
   }

   &__row {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__date {
      padding: 0px 10px;
      background: #142850;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 900;
      color: $colorWhite;
      border-radius: 16px;
   }

   &__name {
      font-size: 20px;
      color: #8695A4;
   }

   &__text {
      font-size: 16px;
      color: $colorDark;
   }

}



/* ================ FOOOOOOOOTER ================ */

.footer {
   padding: 50px 0px 50px 0px;

   &__wrap {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
   }

   &__social {
      display: flex;
      gap: 35px;
   }

   &__image {
      width: 30px;
      height: 30px;
      transition: all .4s;

      &:hover {
         transform: scale(150%);
      }
   }

   &__img {
      width: 100%;
      height: 100%;
   }

   &__copyright {
      font-size: 14px;
      color: $colorDark;
   }
}








/* ================ MEDIA ================ */

@import "worksMedia.scss";