@import "../../../../styles/variables.scss";

.this__day {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  height: 300px;
  background: var(#{--components-background-default});
  border-radius: 20px;
  box-shadow: $box-shadow;
}

.top__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
  svg {
    height: 119px;
    width: 119px;
  }
}

.this__temp {
  color: $primary-color;
  font-size: 96px;
}

.this__day_day {
  font-size: 40px;
  color: var(#{--text-color-default});
}

.bottom__block {
  font-size: 25px;
  color: $base-color;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
