.contactsWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
  @media (max-width: 1025px) {
    padding: 20px 20px 0 20px;
    flex-direction: column;
    gap: 70px;
    height: auto;
    margin-top: 0px;
  }

  .contactsLeft,
  .contactsRight {
    flex-grow: 1;
    max-width: calc(50% - 20px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 1025px) {
      max-width: 100%;
    }
  }

  .contactsLeft {
    .clockWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (min-width: 768px) and (max-width: 1025px) {
        align-items: center;
      }
    }
    .contactsTitle {
      color: var(--text-color-secondary);
      font-size: clamp(3rem, 2.423rem + 2.56vw, 5.5rem);
      text-wrap: nowrap;
      user-select: none;
      animation: shake-vertical 1s linear 0s 1 normal none;
    }
    .clockText {
      color: var(--text-color-primary);
      font-size: clamp(1.5rem, 1rem + 0.51vw, 2rem);
      user-select: none;
      @media (max-width: 1025px) {
        display: block;
        text-align: center;
      }
    }
  }

  .contactsRight {
    @media (max-width: 1025px) {
      gap: 70px;
    }
    @media (max-width: 440px) {
      gap: 35px;
    }
    .contactsRightText {
      color: var(--text-color-base);
      text-align: center;
      font-size: clamp(1.5rem, 1.269rem + 0.9vw, 2.5rem);
      text-shadow: 2px 2px 4px var(--text-color-base);
      user-select: none;
    }
    .contactsTooltipsContainer {
      display: flex;
      flex-direction: column;
      gap: 70px;
      @media (max-width: 440px) {
        gap: 35px;
      }
    }
    .contactsTooltipWrapper,
    .socialTooltipWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      @media (max-width: 440px) {
        flex-direction: column;
      }
    }
    .contactsTooltipText,
    .socialTooltipText {
      color: var(--text-color-base);
      text-align: center;
      max-width: 50%;
      font-size: clamp(1.5rem, 1rem + 0.51vw, 2rem);
      display: block;
      width: 100%;
      user-select: none;
      @media (max-width: 1025px) {
        max-width: 100%;
      }
      @media (max-width: 440px) {
        text-align: center;
      }
    }
  }
}

@keyframes shake-vertical {
			
  0% {
    transform:translateY(0);
  }
  10% {
    transform:translateY(-8px);
  }
  20% {
    transform:translateY(8px);
  }
  30% {
    transform:translateY(-8px);
  }
  40% {
    transform:translateY(8px);
  }
  50% {
    transform:translateY(-8px);
  }
  60% {
    transform:translateY(8px);
  }
  70% {
    transform:translateY(-8px);
  }
  80% {
    transform:translateY(6.4px);
  }
  90% {
    transform:translateY(-6.4px);
  }
  100% {
    transform:translateY(0);
  }
}
