@import '@styles/variables.scss';

.link{
  position: relative;
  z-index: 9;
  .counter{
    font-size: 20px;
    color: $color-black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -5px;
    transition: $transition;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    z-index: 10;
  }
  .icon{
    font-size: 40px;
    color: $color-yellow;
    transition: $transition;
    &:hover{
      color: $color-violet;
    }
  }
}