.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .shopCard {
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: all 0.4s ease;
    position: relative;
    z-index: 10;

    &:hover {
      transform: scale(1.4);
      color: #ca5252;
    }
  }
}

.shopCardWrapper {
  position: relative;
  z-index: 10;

  .shopCardText {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: -50%;
    right: -50%;
    background: transparent;
    content: "1";
    text-align: center;
    font-size: 20px;
    z-index: 9;
  }
}

.shopCardOpened {
  position: absolute;
  width: 450px;
  border-radius: 40px;
  top: 0;
  right: 0;
  content: "";
  z-index: 5;
  background: goldenrod;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.75);
  @media (max-width: 500px) {
    width: 300px;
  }
}

.active {
  transform: scale(1.4);
  color: #ca5252;
}

.logo {
  font-weight: 700;
  font-size: 25px;
}

.presentation {
  margin: 50px 0;
  background: url("../../assets/img/furniture-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-blend-mode: multiply;
  background-color: rgba($color: #fff, $alpha: 0.5);
  width: 100%;
  height: 600px;
  position: relative;

  &::after {
    content: "Best staff for your house!";
    position: absolute;
    width: 300px;
    top: 100px;
    left: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #daa520;
  }

  &::before {
    content: "At low prices...";
    position: absolute;
    width: 300px;
    top: 200px;
    left: 50px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: goldenrod;
  }
}

.nav {
  float: right;
  display: flex;
  gap: 20px;
  font-size: 18px;
  @media (max-width: 600px) {
    display: none;
  }

  li {
    cursor: pointer;
    transition: color 0.4s ease;
    &:hover {
      color: #ca5252;
    }
  }
}

.empty {
  padding: 20px;
  color: #ca5252;
}

.price {
  margin-block: 20px;
  text-align: center;
  font-size: 20px;

  span {
    color: #ca5252;
    font-weight: 600;
  }
}
