* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font: inherit;
  transition: 0.5s;
  color: inherit;
}

ul li {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 5px;
  background-color: transparent;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid limegreen;
}

body {
  height: 100vh;
  background: rgb(35, 124, 154);
}
