@import "../../styles/variables.scss";

.popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 325px);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  height: 300px;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  overflow: hidden;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 400;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.6);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  cursor: pointer;

  svg {
    transition: 0.3s;
    &:hover {
      transform: rotate(360deg);
    }
  }
}

.day {
  .day__temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin-bottom: 12px;
  }

  .day__day {
    font-size: 25px;
    line-height: 30px;
    color: $light-color;
    margin-bottom: 12px;
  }

  .img {
    svg {
      width: 53px;
      height: 53px;
    }
    margin-bottom: 12px;
  }

  .day__time,
  .day__city {
    color: $base-color;
    font-size: 15px;
  }

  .day__time {
    margin-bottom: 5px;
  }
}
